<li class="muracontacts-phonenumber">
  <!-- Edit -->
  <a class="btn btn-sm btn-primary" href="./#mcaction=editphone&amp;pid={{properties.personid}}&amp;phoneid={{properties.phonenumberid}}">
    <i class="fa fa-pencil"></i>
  </a>

  <!-- Phone Number -->
  <a class="btn" href="tel:{{properties.phonenumber}}">
    {{properties.phonenumber}}
    <strong>{{properties.phonetype}}</strong>
  </a>
</li>
