{{#with properties}}
  <li class="muracontacts-phonenumber">
    {{!-- Edit --}}
    <a class="btn btn-sm btn-primary" href="./#mcaction=editphone&amp;pid={{personid}}&amp;phonenumberid={{phonenumberid}}">
      <i class="fa fa-pencil"></i>
    </a>

    {{!-- Phone Number --}}
    <a class="btn" href="tel:{{phonenumber}}">
      {{phonenumber}}
      <strong>{{phonetype}}</strong>
    </a>
  </li>
{{/with}}
